<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.learning.mapper.PointsBoardMapper">

    <resultMap id="BaseResultMap" type="com.tianji.learning.domain.po.PointsBoard">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="points" column="points" jdbcType="INTEGER"/>
        <result property="rank" column="rank" jdbcType="TINYINT"/>
        <result property="season" column="season" jdbcType="SMALLINT"/>
    </resultMap>


</mapper>
